<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dagbok</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Dagbok</h1>
    <div id="form2">
        <a class="buttonheader" th:href="@{/posts}">Visa alla inlägg</a>
    </div>
        <div id="form">
            <h3>Skapa ett nytt inlägg:</h3>
            <form th:action="@{/new-post}" th:object="${diary}" method="post">
                <input type="date" th:field="*{date}" placeholder="Datum" required>
                <input type="text" placeholder="Rubrik" th:field="*{title}" required><br>
                <div id="textarea">
                    <textarea th:field="*{content}" placeholder="Text" required></textarea>
                </div>
                <button type="submit">Lägg till inlägg</button>
            </form>
        </div>
    <div id="list" th:each=" diary : ${diaries}">
        <div>
            <h2 th:text="${diary.title}"></h2>
            <p th:text="${#temporals.format(diary.date, 'yyyy-MM-dd')}"></p>
            <p th:text="${diary.content}"></p>
            <a class="button1" th:href="@{'/edit/' + ${diary.id}}">Ändra</a>
            <form th:action="@{'/deleteFromIndex/' + ${diary.id}}" method="post">
                <button type="submit">Ta bort inlägg</button>
            </form>
        </div>
    </div>
</body>
</html>
